// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$fuente_principal: "Montserrat", sans-serif;

// Tamaño de Media Queries
$tel: 480px;
$tablet: 768px;
$desk: 1200px;
$xl: 1440px;

// Colores
$negro: #000000;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$gris2: #A7A7A7;
$gris3: #6A7279; 
$grisFondo: #F2F2F2;
$grisOscuro: #333333;
$primario: #00A6FB;
$secundario: #05141F;