@use 'base/variables' as v;
@use 'base/mixins' as m;

.hero {
    width: 100%;
    height: 20rem;
    @include m.background(url("../../src/img/hero.jpg"));

    position: relative;
    
    @include m.tablet {
        height: 50rem;
    }
    @include m.xl {
        height: 70rem;
    }

    &_titulo {
        width: 60%;
        color: v.$blanco;
        margin: 0;
        @include m.tablet {
            width: 50%;
        }
    }

    &_ctas {
        display: none;

        @include m.tablet {
            display: flex;
            column-gap: 2rem;
            margin-top: 8rem;
        }
        
    }

    .overlay {
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}