@use 'base/variables' as v;
@use 'base/mixins' as m;


.navegacion {
    visibility: hidden;
    transition: visibility .3s ease-in-out, opacity .5s linear, height .5s linear;
    opacity: 0;
    height: 0;

    @include m.tablet {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
        margin-left: 4rem;
    }

    a {
        color: v.$blanco;
        text-decoration: none;
        display: block;
        text-align: end;
        margin: 1rem 0;
        &:hover{
            color: v.$primario;
            cursor: pointer;
        }

        @include m.tablet{
            margin-right: 2rem;

            &:last-of-type{
                margin: 0;
            }
        }
    }
}

/* Menu hamburguesa */

.mobile-menu{
    display: flex;
    justify-content: flex-end;
    @include m.tablet{
        display: none;
    }
    img{
        width: 3rem;
        display: inline;
        margin: 0;
        padding: 0;
    }
}

.mostrar{
    visibility: visible;
    opacity: 1;
    height: auto;
}
