@use 'base/variables' as v;
@use 'base/mixins' as m;


.pagos-info{
    background-color: v.$secundario;

    .contenedorS{
        padding: 1px 0;
    }

    .pagos-condiciones{
        background-color: v.$blanco;
        padding: 2rem;
        border-radius: .8rem;
        margin: 6rem 0;
        @include m.tablet{
            padding: 4rem;
        }
    }
    .pagos-condiciones p{
        color: v.$negro;
        line-height: 2;
        margin: 2rem 0;
    }
    .pagos-condiciones span{
        text-transform: uppercase;
        font-weight: bold;
    }

}