@use 'base/variables' as v;
@use 'base/mixins' as m;

.tituloPagina {
    height: 10rem;
    background-color: v.$blanco;
    display: flex;
    justify-content: center;
    align-items: center;

    @include m.tablet{
        height: 24rem;
    }
    @include m.xl {
        height: 34rem;
    }

    .tituloPrincipal {
        text-align: center;
    }
}

.auto {
    width: 100%;

    .auto_overlay {
        @include m.background(url("../../src/img/vehiculoBG.jpg"));
        height: 36rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;

        @include m.tablet {
            height: 60rem;
            row-gap: 4rem;
        }
    }

    .auto_img {
        width: 18rem;
        max-width: 100%;
        margin: 0 auto;
        border-radius: 10rem;
        padding: 1rem;
        border: 2px solid v.$primario;

        @include m.tablet {
            width: 26rem;
            border-radius: 50rem;
        }
        @include m.xl {
            width: 36rem;
        }
    }

    .info_totalA {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .info {
        @include m.tablet {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }


    .info_totalB {
        display: flex;
        justify-content: space-between;
    }

    .info_titulo {
        flex: 3;
    }

    .info_marca {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .info_marca img {
        width: 60%;
        height: auto;

        @include m.tablet {
            width: 40%;
        }
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include m.tablet {
            align-items: flex-start;
        }
    }

    .info_T,
    .info_V {
        text-transform: uppercase;
        color: v.$blanco;
    }

    .info_T {
        font-size: 1.6rem;
    }

    .info_V {
        font-size: 1.8rem;
        font-weight: bold;

        @include m.tablet {
            font-size: 3rem;
        }
    }

    .auto_infoB {
        padding: 2rem 0;

        @include m.tablet {
            padding: 4rem 0;
        }
    }

    .info_detalles {
        @include m.tablet {
            display: flex;
            align-items: flex-end;
        }
    }

    .info_auto {
        color: v.$grisOscuro;
        text-align: left;
        text-wrap: balance;

        @include m.tablet {
            flex: 3;
        }
    }

    .info_precio {
        color: v.$negro;
        text-transform: uppercase;
        font-weight: bold;
        text-align: left;
        margin-top: 1rem;
        line-height: 1.2;

        @include m.tablet {
            flex: 1;
            text-align: right;
            font-size: 2.2rem;
        }
        @include m.xl {
            font-size: 3rem;
        }
    }
}
.detalles{
    width: 100%;
    margin: 0 auto;
}

.detalle-iconos {
    width: 100%;
    place-items: center;
    @include m.grid(2, 0);
    grid-template-areas:
        "a b"
        "d c";

    @include m.tablet {
        @include m.grid(4, 0);
        grid-template-areas: "a b c d";
    }
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.a,
.c {
    background-color: v.$grisFondo;
}

.b,
.d {
    background-color: v.$blanco;
}

.detalle-icon1,
.detalle-icon2 {
    width: 100%;
    padding: 2.4rem;

    @include m.tablet {
        width: 100%;
        height: 100%;
        padding: 4rem;
    }
    @include m.xl {
        padding: 8rem;
    }
}

.detalle-icon1 img,
.detalle-icon2 img {
    width: 8rem;
    display: block;
    margin: auto;

    @include m.xl {
        width: 10rem;
    }
    @include m.xl {
        width: 14rem;
    }
}

.detalle-icon1 p,
.detalle-icon2 p {
    text-align: center;
    color: v.$negro;
    font-size: 1.4rem;
    line-height: 1.4;

    @include m.tablet {
        font-size: 2.2rem;
    }
}